
#
# configure project
#
CONFIG_PROJECT_NAME="none"
CONFIG_PROJECT_VERSION="1.0.0"
CONFIG_PROJECT_FRAMEWORK_BASE=y
# CONFIG_PROJECT_FRAMEWORK_ARDUINO is not set
CONFIG_FRAMEWORK_CHOICE="base"
# end of configure project

#
# configure platform [L511C]
#
# CONFIG_OPERATING_SYSTEM_LINUX is not set
CONFIG_OPERATING_SYSTEM_RTOS=y
CONFIG_OPERATING_SYSTEM=98
CONFIG_TUYA_LITTLE_ENDIAN=y
# CONFIG_BIG_ENDIAN is not set
CONFIG_LITTLE_END=1
CONFIG_ENABLE_FILE_SYSTEM=y
# CONFIG_ENABLE_WIFI is not set
# CONFIG_ENABLE_WIRED is not set
CONFIG_ENABLE_CELLULAR=y
# CONFIG_ENABLE_CELLULAR_PLUGIN is not set
# CONFIG_ENABLE_CELLULAR_SMS is not set
# CONFIG_ENABLE_CELLULAR_CALL is not set
# CONFIG_ENABLE_CELLULAR_WIFI_SCAN is not set
# CONFIG_ENABLE_CELLULAR_GPS_INSIDE is not set
# CONFIG_ENABLE_CELLULAR_VABT is not set
# CONFIG_ENABLE_CELLULAR_KEYPAD is not set
# CONFIG_ENABLE_BLUETOOTH is not set
# CONFIG_ENABLE_RTC is not set
# CONFIG_ENABLE_WATCHDOG is not set
CONFIG_ENABLE_UART=y
# CONFIG_ENABLE_FLASH is not set
CONFIG_ENABLE_ADC=y
CONFIG_ENABLE_PWM=y
CONFIG_ENABLE_GPIO=y
CONFIG_ENABLE_I2C=y
CONFIG_ENABLE_TIMER=y
# CONFIG_ENABLE_SPI is not set
# CONFIG_ENABLE_QSPI is not set
# CONFIG_ENABLE_RGB is not set
# CONFIG_ENABLE_MCU8080 is not set
# CONFIG_ENABLE_MEDIA is not set
# CONFIG_ENABLE_VAD is not set
# CONFIG_ENABLE_ASR is not set
# CONFIG_ENABLE_STORAGE is not set
# CONFIG_ENABLE_EXT_RAM is not set
# CONFIG_ENABLE_DAC is not set
# CONFIG_ENABLE_I2S is not set
# CONFIG_ENABLE_WAKEUP is not set
# CONFIG_ENABLE_REGISTER is not set
# CONFIG_ENABLE_PINMUX is not set
# CONFIG_ENABLE_PLATFORM_AES is not set
# CONFIG_ENABLE_PLATFORM_SHA256 is not set
# CONFIG_ENABLE_PLATFORM_MD5 is not set
# CONFIG_ENABLE_PLATFORM_SHA1 is not set
# CONFIG_ENABLE_PLATFORM_RSA is not set
# CONFIG_ENABLE_PLATFORM_ECC is not set
# end of configure platform [L511C]

#
# configure tuyaopen
#

#
# configure tuya cloud service
#
CONFIG_TUYA_SECURITY_LEVEL=1
# CONFIG_ENABLE_BT_SERVICE is not set
# end of configure tuya cloud service

#
# AI Protocol Config
#
CONFIG_AI_MAX_FRAGMENT_LENGTH=8192
# CONFIG_ENABLE_AI_PROTO_DEBUG is not set
CONFIG_AI_BIZ_TASK_DELAY=10
CONFIG_AI_SESSION_MAX_NUM=2
CONFIG_AI_MAX_SESSION_ID_NUM=5
CONFIG_AI_MAX_ATTR_NUM=10
CONFIG_AI_PACKET_SECURITY_LEVEL=4
CONFIG_AI_CLIENT_STACK_SIZE=4096
CONFIG_AI_READ_SOCKET_BUF_SIZE=0
CONFIG_AI_WRITE_SOCKET_BUF_SIZE=8192
# CONFIG_AI_HEAP_IN_PSRAM is not set
# CONFIG_AI_STACK_IN_PSRAM is not set
# end of AI Protocol Config

#
# configure enable/disable liblwip
#
# CONFIG_ENABLE_LIBLWIP is not set
# end of configure enable/disable liblwip

#
# configure mbedtls
#
# CONFIG_ENABLE_MBEDTLS_DEBUG is not set
# CONFIG_ENABLE_CUSTOM_CONFIG is not set
# end of configure mbedtls

#
# configure system parameter
#
CONFIG_STACK_SIZE_TIMERQ=4096
CONFIG_STACK_SIZE_WORK_QUEUE=5120
CONFIG_MAX_NODE_NUM_WORK_QUEUE=100
CONFIG_STACK_SIZE_MSG_QUEUE=4096
CONFIG_MAX_NODE_NUM_MSG_QUEUE=100
# end of configure system parameter

# CONFIG_ENABLE_LIBLVGL is not set

#
# configure device driver
#
# CONFIG_ENABLE_BUTTON is not set
# CONFIG_ENABLE_LED is not set
# CONFIG_ENABLE_AUDIO_CODECS is not set
# CONFIG_ENABLE_DISPLAY is not set
# CONFIG_ENABLE_ENCODER is not set
# CONFIG_ENABLE_JOYSTICK is not set
# end of configure device driver
# end of configure tuyaopen
